DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

EMAIL_SECRET_KEY=
HOST=

Client = "" ## google client , get it from https://console.developers.google.com/
Secret = "" # secret of the client 
redirect_url = "" # redirect url you added in your google oauth api, make sure the url is same including the port, should match the route of callback 

SECRET_KEY=
